@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|PT+Sans+Narrow|Roboto|Roboto+Condensed&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700i');

@import url(style_min_1200.css);
@import url(style_min_768.css);
@import url(style_min_320.css);

/*
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #060606;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.red {
    color: #fc481a;
}