@media screen and (min-width: 1200px) {
    .block1 {
        width: 983px;
        height: 757px;
        margin: 0 auto;
        background: url(../img/bg-block-1.png) no-repeat;
        background-size: contain;
    }
    .block1_header {
        width: 100%;
        float: left;
    }
    .header_logo {
        float: left;
        margin: 24px 88px 33px 3px;
    }
    .header_list {
        display: block;
        float: left;
    }
    .header_item {
        display: inline-block;
        position: relative;
        color: #ededed;
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.29px;
    }
    .header_item span {
        font-size: 24px;
        font-weight: 700;    
    }
    .header_item-first {
        margin: 37px 30px 0 0;
        padding-left: 41px;
        transform: scale(1.03);
    }
    .header_item-first img {
        position: absolute;
        left: 6px;
        top: -5px;
    }
    .header_item-second {
        margin: 37px 30px 0 0;
        padding-left: 50px;
        transform: scale(1.05);
    }
    .header_item-second img {
        position: absolute;
        left: 3px;
        top: -8px;
    }
    .block1_title {
        width: 962px;
        height: 45px;
        float: left;
        margin: 0 0 0 25px;
        color: #d7c679;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 58px;
        font-weight: bold;
        line-height: 36px;
        text-transform: uppercase;
        transform: scale(1.05);
    }
    .block1_leftSide {
        float: left;
        width: 370px;
    }
    .leftSide_title {
        float: left;
        width: 317px;
        height: 48px;
        margin: 19px 0 9px 7px;
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 500;
        transform: scale(1.02);
    }
    .leftSide_list {
        display: block;
        float: left;
        width: 277px;
        margin-left: 6px;
    }
    .leftSide_item {
        float: left;
        position: relative;
        padding-left: 33px;
        color: #ffffff;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    .leftSide_item:nth-child(1) {
        height: 30px;
        margin: 13px 0 0 0;
    } 
    .leftSide_item:nth-child(2) {
        height: 30px;
        margin: 10px 0 0 0;
    }
    .leftSide_item:nth-child(3) {
        height: 30px;
        margin: 8px 0 0 0;
    }
    .leftSide_item:nth-child(4) {
        width: 169px;
        height: 60px;
        margin: 6px 0 0 0;
    }
    .leftSide_item img:nth-child(1) {
        position: absolute;
        left: 0;
        top: 0;
    }
    .leftSide_item img:nth-child(2) {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .product {
        float: left;
        margin: -2px 0 0 3px;
    }
    .block1_centr {
        float: left;
        width: 280px;
    }
    .centr_img {
        float: left;
        margin: 370px 0 0 10px;
    }
    .centr_text {
        float: left;
        margin: 6px 0 0 10px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
    }
    .block1_rightSide {
        float: left;
        width: 330px;
    }
    .rightSide_timer {
        float: left;
        width: 100%;
    }
    timer_list {
        float: left;
    }
    .timer_item {
        width: 46px;
        height: 52px;
        position: relative;
        float: left;
        border-radius: 4px;
        border: 1px solid #ffffff;
        box-sizing: border-box;
        background-color: #f6f6f6;
        color: #000000;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 50px;
        font-weight: bold;
        line-height: 11.93px;
        text-align: center;
    }
    .timer_item span {
        display: block;
        margin: 19px 0 0 0;
    }
    .line {
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background: #cecece;
    }
    .lineOpacity {
        opacity: 0.5px;
    }
    .timer_item:nth-child(1) {
        margin: 24px 0 0 46px;
        background-color: #cbbcb9;
        opacity: 0.5;
    }
    .timer_item:nth-child(2) {
        margin: 24px 0 0 5px;
    }
    .timer_item:nth-child(3) {
        margin: 24px 0 0 5px;
    }
    .timer_text {
        width: 110px;
        margin: 30px 0 0 25px;
        float: left;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 19px;
        font-weight: 400;
        line-height: 19px;
    }
    .rightSide_form {
        float: left;
        width: 298px;
        height: 417px;
        margin: 29px 0 0 40px;
        background: url(../img/bg-form.png) no-repeat;
        background-size: contain;
        border-radius: 5px;
        overflow: hidden;
    }
    .fullPrice {
        float: left;
        margin: 19px 0 0 30px;
        opacity: 0.3;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
    .oldPrice {
        margin-top: -6px;
        opacity: 0.3;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 24px;
        font-weight: 400;
        text-decoration: none;
    }
    .oldPrice span {
        font-size: 48px;
        text-decoration: line-through;
    }
    .discPrice {
        float: left;
        margin: 19px 0 0 27px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        font-weight: 400;
    }
    .newPrice {
        margin: -6px 0 0 1px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
    .newPrice span {
        font-size: 48px;
    }
    .name {
        float: left;
        width: 255px;
        height: 55px;
        margin: 40px 0 0 22px;
        padding-bottom: 2px;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
        box-sizing: border-box;
        background-color: #f6f6f6;
        color: #929292;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .phone {
        float: left;
        width: 255px;
        height: 55px;
        margin: 16px 0 0 22px;
        padding-bottom: 4px;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid #e1e1e1;
        box-sizing: border-box;
        background-color: #f6f6f6;
        color: #929292;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
    .orderButton {
        float: left;
        width: 255px;
        height: 60px;
        margin: 23px 0 0 22px;
        box-shadow: 3px 4px 25px rgba(250, 74, 27, 0.35);
        border-radius: 5px;
        background-color: #f6491a;
        overflow: hidden;
        cursor: pointer;
    }
    .orderButton_arrow {
        width: 51px;
        height: 60px;
        float: left;
        background-color: #b13412;
        color: white;
    }
    .orderButton_arrow img {
        margin: 22px 20px;
    }
    .orderButton_text {
        float: left;
        margin: 16px 0 0 25px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .secure {
        float: left;
        margin: 25px 0 0 34px;
        color: #000000;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 15px;
        font-weight: 400;
        transform: scale(1.025);
    }
    .secure img {
        float: left;
        margin-right: 10px;
    }

    .block2 {
        width: 975px;
        height: 463px;
        margin: -65px auto 0 auto;
        background: url(../img/bg-block-2.png) no-repeat;
        background-size: contain;
    }
    .block2_title {
        width: 490px;
        float: left;
        margin: 85px 0 0 -120px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 48px;
        font-weight: bold;
        line-height: 52px;
        text-transform: uppercase;
        text-align: center;
    }
    .thin {
        font-weight: 400;
    }
    .block2_text {
        float: left;
        margin: -2px 0 0 200px;
        color: #ffffff;
        font-family: 'PT Sans', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 52px;
    }
    .block2_questionBlock {
        float: left;
        width: 641px;
        height: 261px;
        margin: 11px 0 0 176px;
        border-radius: 10px;
        background-color: #ffffff;
    }
    .block2_question {
        margin: 31px 0 0 113px;
        color: #000000;
        font-family: 'PT Sans', sans-serif;
        font-size: 24px;
        font-weight: bolder;
        line-height: 60px;
        text-transform: uppercase;
    }
    .block2_question img {
        float: left;
        margin-right: 12px;
    }
    .block2_button-1 {
        float: left;
        width: 250px;
        height: 80px;
        margin: 40px 0 0 55px;
        border-radius: 10px;
        background: url(../img/bg-button.png) no-repeat;
        background-size: contain;
        color: #ffffff;
        font-family: 'PT Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 86px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
    .block2_button-2 {
        float: left;
        width: 250px;
        height: 80px;
        margin: 40px 0 0 20px;
        border-radius: 10px;
        background: url(../img/bg-button.png) no-repeat;
        background-size: contain;
        color: #ffffff;
        font-family: 'PT Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 86px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
    .block3 {
        width: 980px;
        height: 392px;
        margin: 63px auto 0 auto;
        border-radius: 10px;
        background-color: #ffffff;
        background: url(../img/bg-block-3.png) no-repeat;
        background-size: contain;
    }
    .block3_title {
        float: left;
        width: 539px;
        margin: 27px 0 0 48px;
        color: #000000;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;
        transform: scale(1.015);
    }
    .block3_title span {
        color: #fc481a;
    }
    .block3_text {
        float: left;
        width: 558px;
        margin: 25px 0 0 46px;
        color: #000000;
        font-family: 'PT Sans', sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 26.02px;
    }
    .block3_text span {
        font-weight: bold;
        text-transform: uppercase;
    }
    .block4 {
        width: 1160px;
        height: 695px;
        margin: 75px auto 0 auto;
        background: url(../img/bg-block-4.png) no-repeat;
        background-size: contain;
    }
    .block4_title {
        float: left;
        margin: -28px 0 0 145px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .block4_title span {
        font-weight: 700;
    }
    .block4_advantages {
        float: right;
        width: 640px;
        margin-right: 95px;
    }
    .block4_list {
        float: left;
    }
    .block4_item {
        float: left;
        width: 200px;
        height: 251px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ffffff;
    }
    .block4_item img {
        width: 100%;
        float: left;
        display: block;
    }
    .block4_item-1 {margin: 25px 20px 0 0;}
    .block4_item-2 {margin: 25px 20px 0 0;}
    .block4_item-3 {margin: 25px 0 0 0;}
    .block4_item-4 {margin: 15px 20px 0 0;}
    .block4_item-5 {margin: 15px 20px 0 0;}
    .block4_item-6 {margin: 15px 0 0 0;}
    .item_text {
        float: left;
        color: #0b0b0b;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    .item_text-1 {
        width: 89px;
        margin: 20px 0 0 55px;
    }
    .item_text-2 {
        width: 138px;
        margin: 18px 0 0 32px;
    }
    .item_text-3 {
        width: 186px;
        margin: 20px 0 0 5px;
    }
    .item_text-4 {
        width: 124px;
        margin: 10px 0 0 38px;
    }
    .item_text-5 {
        width: 132px;
        margin: 20px 0 0 33px;
    }
    .item_text-6 {
        width: 133px;
        margin: 21px 0 0 32px;
    }
    .block5 {
        width: 980px;
        height: 443px;
        margin: -50px auto 10px auto;
        border-radius: 10px;
        background-color: #ffffff;
        background: url(../img/bg-block-5.png) no-repeat;
        background-size: contain;
    }
    .block5_title {
        float: left;
        padding-top: 20px;
        margin: 0 570px 0 45px;
        color: #000000;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 48px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .block5_text {
        float: left;
        width: 567px;
        margin: 17px 200px 0 45px;
    }
    .firstRubric {
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 24px;
    }
    .secondRubric {
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 24px;
        margin: 10px 0 0 0;}
    .thirdRubric {
        margin: 12px 0 0 0;
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        line-height: 24px;
    }
    .doctor {
        float: left;
        width: 280px;
        margin: 24px 0 0 -4px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-style: italic;
        line-height: 24px;
        transform: scale(0.98);
    }
    .block5_signature {
        float: left;
        margin: 1px 0 0 44px;
    }

}