@media screen and (max-width: 949px) {
    header, article, footer {
        min-width: 320px;
    }
    .slider_title {
        max-width: 90%;
        margin-bottom: 100px;
    }
    .nav_logo {
        float: left;
        margin: 32px 0 0 20px;
        color: #ffffff;
        font-family: 'Cherry Swash', cursive; 
        font-size: 40px;
        font-weight: 400;
        line-height: 25px;
    }
    .nav_burger {
        display: block;
        float: right;
        margin: 32px 30px 0 0;
        cursor: pointer;
    }
    .nav_burger span {
        display: block;
        width: 40px;
        height: 5px;
        border-radius: 2px;
        background-color: #ffffff;
        margin: 0 0 5px 0;
    }
    .nav_list {
        display: none;
        width: 100%;
        float: left;
        margin: 5px 0 0 0;
    }
    .nav_item {
        display: list-item;
        margin: 5px 15px 0 20px;
        color: #dce3e4;
        font-family: 'PT Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
    }
    .nav_item>span {
        display: none;
    }
    .active {
        color: #ffffff;
    }
    .nav_item span {
        margin: 0 0 0 18px;
    }
    .textBlock_title {
        margin-bottom: 120px;
    }
    .textBlock_text {
        margin-bottom: 120px;
    }
    article {
        margin: 50px auto 0 auto;
    }
}

@media screen and (max-width: 450px) {
    .feedback {
        height: 400px;
    }
    .feedback_block {
        width: 280px;
        height: 280px;
        min-width: 200px;
        min-height: 200px;
        position: relative;
        margin: 50px auto 37px auto;
        border: none;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.85);
    }
    .feedback_name {
        float: left;
        width: 175px;
        height: 23px;
        margin: 50px 0 0 40px;
    }
    .feedback_email {
        float: left;
        width: 175px;
        height: 23px;
        margin: 10px 0 0 40px;
    }
    .feedback_message {
        float: left;
        width: 175px;
        height: 60px;
        margin: 10px 0 0 40px;
        
    }
    .feedback_button {
        float: left;
        width: 40px;
        height: 40px;
        margin: 10px 0 0 110px;
        background-color: #ffffff;
        border-radius: 50%;
    }
}

    