header {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto;
    position: relative;
}
.slider-container {
    width: 100%;
    height: 1006px;
}
.slider_list {
    width: 100%;
    height: 851px;
}
.slider_item {
    width: 100%;
    height: 851px;
    position: relative;
}
.slider_title {
    width: 567px;
    height: 91px;
    margin: -647px auto 0 auto; 
    color: #e4e4e4;
    font-family: 'PT Sans', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    text-align: center;
    transform: scaleX(1.1);
}
.slider_button {
    width: 236px;
    height: 52px;
    margin: 56px auto 165px auto; 
    
}
.slider_button>button {
    width: 100%;
    height: 100%;
    background: none;
    border: 3px solid #afb1b4;
    border-radius: 5px;
    box-sizing: border-box;
    color: #e4e4e4;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}
.nav-container {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #4b96a1;
}
.nav {
    max-width: 100%;
    width: 1280px;
    height: 87px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #4b96a1;
}
.nav_logo {
    float: left;
    margin: 32px 0 0 183px;
    color: #ffffff;
    font-family: 'Cherry Swash', cursive; 
    font-size: 40px;
    font-weight: 400;
    line-height: 25px;
}
.nav_burger {
    display: none;
}
.nav_list {
    display: block;
    float: right;
    margin: 34px 100px 0 0;
}
.nav_item {
    display: inline-block;
    margin: 0 15px 0 0;
    color: #dce3e4;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.active {
    color: #ffffff;
}
.nav_item span {
    margin: 0 0 0 18px;
}
.text-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 443px;
    background-color: #ffffff;
}
.textBlock {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto ;
}
.textBlock_title {
    max-width: 90%;
    width: 629px;
    height: 77px;
    margin: 70px auto 0 auto;    
    color: #4c505d;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 49px;
    text-align: center;
    transform: scaleX(1.03);
}
.textBlock_title span {
    font-weight: 400;
}
.textBlock_text {
    width: 853px;
    max-width: 90%;
    height: 36px;
    margin: 47px auto 0 auto;
    color: #4c505d;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    transform: scaleX(1.03);
}
.textBlock_list {
    width: 415px;
    max-width: 90%;
    margin: 80px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.textBlock_item {
    flex-basis: auto;
}

article {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto;
    
}
.article-container {
    width: 100%;
    float: left;
    background-color: #00d089;
}
.person {
    width: 306px;
    margin: 95px auto 0 auto;
    
}
.person img {
    float: left;
}
.person_name {
    float: left;
    margin: -8px 0 0 41px;
    color: #e4e4e4;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    transform: scaleX(1.11);
}
.person_quotes {
    float: left;
    opacity: 0.2;
    margin: -4px 0 0 40px;
}

.article_text {
    width: 865px;
    max-width: 100%;
    margin: 50px auto 90px auto;
    padding: ;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}
footer {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto;
}
.feedback {
    width: 100%;
    height: 519px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.feedback_img {
    position: absolute;
    top: -105px;
}
.feedback_block  {
    position: relative;
    width: 430px;
    height: 430px;
    margin: 50px auto 37px auto;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.85);
}
.feedback_name {
    float: left;
    width: 275px;
    height: 33px;
    margin: 116px 0 0 90px;
    padding-left: 15px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #4c505d;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.feedback_email {
    float: left;
    width: 275px;
    height: 33px;
    margin: 14px 0 0 90px;
    padding-left: 13px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #4c505d;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.feedback_message {
    float: left;
    width: 275px;
    height: 80px;
    margin: 14px 0 0 90px;
    padding-left: 13px;
    padding-bottom: 45px;
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #4c505d;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.feedback_button {
    float: left;
    width: 70px;
    height: 70px;
    background: url(../img/check.png) no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    margin: 28px 0 0 190px;
    cursor: pointer;
}
.privacy {
    width: 100%;
    height: 40px;
    padding: 5px 0 0 60px;
    box-sizing: border-box;
    background-color: #00d089;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
}
