@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');
@import url(style_min_1259.css);
@import url(style_min_768.css);
@import url(style_min_320.css);
@import url(style_slider.css);

/*
font-family: 'Open Sans', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
}
 