@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext,latin-ext');

@media screen and (min-width: 1259px) {

    .pageWrap {
        width: 100%;
        float: left;
    }

    /*    HEADER    */
    .pageWrap_header {
        background-color: #0f89f4;
        min-width: 100%;
        float: left;
    }

    .header{
        width: 1259px;
        margin: 0 auto;
    }
    .header_nav {
        width: 100%;
        height: 89.5px;
        float: left;
    }
    .nav_logo {
        float: left;
        margin: 25px 137px 0 47.5px;
    }
    .logo_link {
        display: block;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }
    .nav_button {display: none}
    .nav_menu {
        float: left;
    }
    .menu_list {
        float: left;
    }
    .menu_item {
        display: inline-block;
        -o-display: inline-block;
        -moz-display: inline-block;
        -webkit-display: inline-block;
        margin: 39px 0 0 0;
        font-family: 'Open Sans', sans-serif;
        color: #d2e7fb;
        font-size: 13.5px;
        line-height: 21px;
        font-weight: 400;

        text-align: left;
    }
    .menu_item:hover {
        color: white;
    }
    .menu_item-first {margin-right: 27px}
    .menu_item-second {margin-right: 29px}
    .menu_item-third  {margin-right: 31px}
    .menu_item-fourth {margin-right: 27px}
    .menu_item-fifth {}
    .header_description {
        width: 100%;
        float: left;
    }
    .description_block {
        width: 617px;
        float: left; 
    }
    .description_block-title {
        margin: 84px 0 0 0;
        width: 380px;
        padding-left: 48px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: -0.6px;
        transform: scaleX(0.988);
        text-align: left;
    }
    .description_block-text {
        width: 520px;
        margin: 28px 0 0 0;
        padding-left: 46px;
        color: #d2e7fc;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: -0.2px;
        transform: scaleX(0.985);
        text-align: left;
    }
    .description_block-button {
        display: block;
        -o-display: block;
        -moz-display: block;
        -webkit-display: block;
        position: relative;
        width: 234px;
        height: 60px;
        float: left;
        margin: 31px 0 0 50px;
        border: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #9addfc;
        text-align: center;
        color:  #335477;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        font-weight: 600;
        letter-spacing: -0.15px;
        transform: scaleX(0.999999);
        cursor: pointer;
    }
    .description_block-button span {
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0%;
    }

    .description_block-link {
        display: block;
        -o-display: block;
        -moz-display: block;
        -webkit-display: block;
        position: relative;
        width: 100%;
        margin: 13px 0 0 94px;
        float: left;
        color: #95c9fb;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        letter-spacing: -0.2px;
        transform: scaleX(1);
        text-align: left;
    }
    .description_block-link img {
        width: 17px;
        margin-left: 4px;
        position: absolute;
        top: 10%;
    }
    .description_image {
        width: 578px;
        float: left;
        margin: -20px 0 0 0;
    }
    .description_image img {
        width: 100%;
    }

    .description_firm {
        float: left;
    }
    .firm_title {
        margin: 39px 0 0 178px;
        padding-top: 1.5%;
        float: left;
        color: #a4d0fc;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        letter-spacing: -0.4px;
        transform: scaleX(1.013);
    }
    .firm_list {
        float: left;
        margin: 0 0 55px 0;
    }
    .firm_item {
        display: inline-block;
        -o-display: inline-block;
        -moz-display: inline-block;
        -webkit-display: inline-block;
        float: left;

    }
    .firm_item img {
        width: 100%;
    }
    .firm_item-first {
        width: 63px;
        margin: 55px 0 0 37px;
    }
    .firm_item-second {
        width: 56px;
        margin: 56px 0 0 17px;
    }
    .firm_item-third {
        width: 89px;
        margin: 46px 0 0 30px;
    }
    .firm_item-fourth {
        width: 62px;
        margin: 55px 0 0 30px;
    }
    .firm_item-fifth {
        width: 104px; 
        margin: 52px 0 0 34px;
    }
    .firm_item-sixth {
        width: 120px;
        margin: 60px 0 0 30px;
    }

    /*    MAIN    */
    pageWrap_main {
        float: left;
        min-width: 100%;
        background-color: white;
    }

    .main {
        width:  1259px;
        margin: 0 auto;
    }

    .main_slider-container {
        width: 99%;
        float: left;
        box-sizing: border-box;
        border-bottom: 1px solid #0f89f4;
    }

    .main_about {
        width:  1259px;
        margin: 0 auto;
        
    }
    .about-title {
        float: left;
        width: 590px;
        margin: 55px 0 0 340px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
        letter-spacing: -0.3px;
        transform: scaleX(0.975);
    }
    .about_articles{
        float: left;
    }
    .articles_first {
        width: 1259px;
        margin: 0 auto;
    }
    .articles_first_descripton {
        width: 500px;
        float: left;
    }
    .articles_first_descripton h2 {
        margin: 80px 0 0 85px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 25px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.975);
    }
    .articles_first_descripton p {
        width: 460px;
        margin: 35px 0 0 87px;
        font-family: 'Open Sans', sans-serif;
        color:  #677482;
        font-size: 22.5px;
        font-weight: 400;
        line-height: 32.5px;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }
    .articles_first_image {
        float: left;
        width: 560px;
        margin: 55px 0 0 107px;
    }
    .articles_first_image img {
        width: 100%;
    }

    .articles_second {
        width: 1259px;
        margin: 0 auto;
    }
    .articles_second_image {
        width: 457px;
        float: left;
        margin: 66px 0 0 119px;
    }
    .articles_second_image img {
        width: 100%;
    }
    .articles_second_descripton {
        width: 500px;
        float: left;
    }
    .articles_second_descripton h2 {
        margin: 65px 0 0 129px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 25px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.985);
    }
    .articles_second_descripton p {
        width: 460px;
        margin: 33px 0 0 129px;
        font-family: 'Open Sans', sans-serif;
        color:  #677482;
        font-size: 22.5px;
        font-weight: 400;
        line-height: 32.5px;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }

    .main_reviews {
        width: 1259px;
        margin: 0 auto;
    }
    .reviews-title {
        float: left;
        width: 590px;
        margin: 104px 0 0 407px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 36px;
        font-weight: 400;
        text-align: left; 
        letter-spacing: -0.45px;
        transform: scaleX(0.988);
    }
    .reviews_list {
        float: left;
    }
    .reviews_list_item {
        display: inline-block;
        float: left;
    }
    .first-item {
        width: 361px;
        margin: 67px 0 0 65px;
    }
    .second-item {
        width: 361px;
        margin: 68px 0 0 25px;
    }
    .third-item {
        width: 361px;
        margin: 67px 0 0 29px;
    }
    .review {
        position: relative;
        background-color: #158af4;
        border-radius: 3px;
    }
    .review-first {
        height: 229.5px;
    }
    .review-second {
        height: 171px;
    }
    .review-third {
        height: 159.5px;
    }
    .rectangle {
        width: 41px;
        height: 17px;
        background-color: #158af4;
        position: absolute;
        transform: rotate(151deg);
        bottom: -3px;
        left: 33px;
    }
    .review-first_image {
        float: left;
        width: 25px;
        margin: 32px 0 0 20px;
    }
    .review-first_text {
        float: left;
        width: 270px;
        margin: 37.5px 0 0 11px;
        font-family: 'Open Sans', sans-serif;
        color:  #ffffff;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }
    .first-reviewer {
        float: left;
        width: 100%;
        margin: 18px 0 0 5px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }
    .first-brand {
        float: left;
        width: 100%;
        margin: 2px 0 0 4px;
        font-family: 'Open Sans', sans-serif;
        color:  #677482;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.980);
    }
    .review-second_image {
        float: left;
        width: 25px;
        margin: 30px 0 0 23px;
    }
    .review-second_text {
        float: left;
        width: 260px;
        margin: 34.5px 0 0 16px;
        font-family: 'Open Sans', sans-serif;
        color:  #ffffff;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }
    .second-reviewer {
        float: left;
        width: 100%;
        margin: 18px 0 0 9px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }
    .second-brand {
        float: left;
        width: 100%;
        margin: 3px 0 0 11px;
        font-family: 'Open Sans', sans-serif;
        color:  #677482;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;

    }
    .review-third_image {
        float: left;
        width: 25px;
        margin: 30px 0 0 23px;
    }
    .review-third_text{
        float: left;
        width: 270px;
        margin: 36px 0 0 13px;
        font-family: 'Open Sans', sans-serif;
        color:  #ffffff;
        font-size: 17px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        letter-spacing: -0.25px;
        transform: scaleX(0.99);
    }
    .third-reviewer {
        float: left;
        width: 100%;
        margin: 20px 0 0 10px;
        font-family: 'Open Sans', sans-serif;
        color:  #315479;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.988);
    }
    .third-brand {
        float: left;
        width: 100%;
        margin: 3px 0 0 9px;
        font-family: 'Open Sans', sans-serif;
        color:  #677482;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        letter-spacing: -0.3px;
        transform: scaleX(0.980);
    }
    .pageWrap_cta-block {
        width: 100%;
        float: left;
        margin: 93px 0 0 0;
        background-color: #0f89f4; 
    }
    .cta-block {
        width: 1259px;
        margin: 0 auto;
    }
    .cta-block_title {
        width: 700px;
        margin: 55px 0 0 300px;
        font-family: 'Open Sans', sans-serif;
        color:  #ffffff;
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.3px;
        transform: scaleX(0.980);
    }
    .cta-block_text {
        margin: 19px 0 0 364px;
        font-family: 'Open Sans', sans-serif;
        color:  #d2e7fb;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        letter-spacing: -0.25px;
        transform: scaleX(0.990);
    }
    .cta-block_button {
        width: 245px;
        height: 59.4px;
        margin: 35px 0 80px 530px;
        padding-left: 35px;
        background-color: #9addfc;
        border-radius: 4px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        color:  #335477;
        font-size: 17px;
        font-weight: 600;
        line-height: 25px;
        text-align: left;
        text-transform: uppercase;
    }
    .pageWrap_footer {
        width: 100%;
        float: left;
    }
    .footer {
        width: 1259px;
        margin: 0 auto;
    }
    .footer_shakerfactory {
        float: left;
    }
    .shakerfactory_title {
        margin: 69px 0 0 102px;
        font-family: 'Open Sans', sans-serif;
        color:  #3874ca;
        font-size: 12.5px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        text-transform: uppercase;
    }
    .shakerfactory_text {
        width: 290px;
        margin: 13px 0 0 100px;
        font-family: 'Open Sans', sans-serif;
        color:  #323232;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.5px;
        text-align: left;
        letter-spacing: -0.25px;
        transform: scaleX(0.990);
    }
    .footer_contact {
        float: left;
    }
    .contact_title {
        margin: 69px 0 0 43px;
        font-family: 'Open Sans', sans-serif;
        color:  #3874ca;
        font-size: 12.5px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        text-transform: uppercase;
    }
    .contact_text {
        width: 270px;
        margin: 13px 0 0 40px;
        font-family: 'Open Sans', sans-serif;
        color:  #323232;
        font-size: 15px;
        font-weight: 400;
        line-height: 21.5px;
        text-align: left;
        letter-spacing: -0.25px;
        transform: scaleX(0.990);
    }
    .contact_text span {
        color:  #3874ca;
    }
    .footer_social {
        float: left;
    }
    .social_title {
        margin: 69px 0 0 65px;
        font-family: 'Open Sans', sans-serif;
        color:  #3874ca;
        font-size: 12.5px;
        font-weight: 700;
        line-height: 22.5px;
        text-align: left;
        text-transform: uppercase; 
    }
    .social-list {
        float: left;
        margin: 19.5px 0 0 68px; 
    }
    .social-list_item {
        display: inline-block;
    }
    .social-list_item:nth-child(1) {
        width: 10px;
        margin-right: 11px;
    }
    .social-list_item:nth-child(2) {
        width: 16px;
        margin-right: 13px;
    }
    .social-list_item:nth-child(3) {
        width: 21px;
        margin-right: 15px;
    }
    .social-list_item:nth-child(4) {
        width: 19px;
        margin-right: 9px;
    }
    .social-list_item:nth-child(5) {width: 18px;}
    .social-list_item img {
        width: 100%;
    }
    .footer_privacy {
        width: 100%;
        float: left;
        margin: 105px 0 63px 0;
    }
    .privacy_buttons {
        float: left;

    }
    .like_button {
        width: 76px;
        height: 20px;
        margin: 0 0 0 105px;
        padding-left: 12px;
        border: none;
        border-radius: 3px;
        background: url(../img/like.png) no-repeat #4366b3;
        background-size: cover;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
    }
    .share_button {
        width: 40px;
        height: 20px;
        margin: 0 0 0 0;
        border: none;
        border-radius: 3px;
        background-color: #4366b3;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
    }
    .privacy_text {
        float: left;
        margin: 0 0 0 14px;
        font-family: 'Open Sans', sans-serif;
        color:  #323232;
        font-size: 12.5px;
        font-weight: 400;
        line-height: 21.5px;
        text-align: left;
        letter-spacing: -0.25px;
    }

}