@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');

/*
font-family: 'Open Sans', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
}
 
.pageWrap {
    width: 350px;
    margin: 0 auto;
}

    /*    HEADER    */
header{
    width: 100%;
    float: left;
    background-color: #0f89f4;
    position: relative;
}
.nav {
    width: 100%;
    height: auto;
    float: left;
}
.navLogo {
    float: left;
    margin: 25px 140px 0 48px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
}
.navBar {
    color: #d2e7fc;
    float: left;
    margin: 15px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.navBar>li {
    display: list-item;
    margin-left: 50px;
}
a {
    color: inherit;
}

.goodsDescr {
    width: 100%;
    float: left;
    margin: 30px 0 0 0;
}
h3 {
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

p {
    width: 100%;
    color: #d2e7fc;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.viewButton {
    display: block;
    position: relative;
    width: 230px;
    height: 60px;
    margin: 20px auto;
    border: none;
    border-radius: 7px;
    background-color: #9addfc;
    text-align: center;
    color:  #335477;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
}
span {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0%;
}

.play {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 1%;
    color: #95c9fb;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
img {
    width: 17px;
    margin-left: 2px;
    position: absolute;
    top: 10%;
}     

.drawing {
    float: left;
    width: 100%;
    margin: 13px 0 15px 0;
}
img {
    width: 100%;
}
    
.firms {
    float: left;
    margin: 20px 0;
    color: #a4d0fc;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
span{
    padding-top: 1.5%;
}

.firmsList {
    float: left;
    width: 130px;
    margin: 20px 110px;
}
li {
    display: list-item;
}
img {
    width: 100%;
}

li:nth-child(1) {
    width: 63px;
    margin-right: 30px;
}
li:nth-child(2) {
    width: 52px;
    margin-right: 30px;
}
li:nth-child(3) {
    width: 89px;
    margin-right: 30px;
}
li:nth-child(4) {
    width: 62px;
    margin-right: 30px;
}
li:nth-child(5) {
    width: 104px; 
    margin-right: 30px;
}
li:nth-child(6) {
    width: 120px;
}

/*    MAIN    */
main {
    width: 100%;
    float: left;
    background-color: white;
    position: relative;
}
#carousel {
    position: relative;
    width: 100%;
    height: 216px;
}
img {
    height: 80%;
    margin: 10% 20%;
    display: block;
}
.arrow {
    display: block;
    height: 100%;
    width: 25px;
    background: none;
    border: none;
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    color: #1e91f7;
    cursor: pointer;
}
img {
    width: 90%;
    height: 29px;
    margin: auto;
}
.prev {
    border-bottom: 1px solid #1e91f7;
    border-right: 1px solid #1e91f7;
}
.next {
    top: 0;
    right: 0;
    border-bottom: 1px solid #1e91f7;
}
.gallery {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
ul {
    height: 100%;
    width: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    transition: margin-right 250ms;
    font-size: 0;
}

li {
    display: inline-block;
    border-bottom: 1px solid #1e91f7;
    border-right: 1px solid #1e91f7;
    box-sizing: border-box;
    width: 150px;
    height: 100%;
}

.ourJob {
    width: 100%;
    margin: 20px auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    color:  #315479;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.designDescr {
    width: 100%;
    float: left;
    margin-top: 20px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: #315479;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 30px 0 0 0;
}

p {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #677482;
    font-size: 22.5px;
    font-weight: 400;
    text-align: center;
}
.designIMG {
    width: 100%;
    float: left;
    margin-top: 20px;
}
img {
    width: 100%;
}
     
.deliveryIMG {
    width: 100%;
    float: left;
    margin-top: 20px;
}
img {
    width: 100%;
}

.deliveryDescr {
    width: 100%;
    float: left;
    margin-top: 20px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: #315479;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
p {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #677482;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
    
.reviews {
    width: 100%;
    float: left;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color:  #315479;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.reviewsItem {
    width: 300px;
    margin: 10px auto;
    overflow: hidden;
}
.review {
    width: 100%;
    position: relative;
    float: left;
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: #158af4;
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    transform: scaleX(1.0003);
}
img {
    width: 20px;
    position: absolute;
    top: 30px;
    left: 14px;
}
span {
    width: 260px;
    float: left;
    margin: 40px 27px 50px 40px;
}
.rectangle {
    width: 42px;
    height: 23px;
    position: absolute;
    background-color: #158af4;
    transform: rotate(45deg);
    bottom: 0;
    left: 34px;
}
.reviewer {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color:  #315479;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.brand {
    width: 100%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    color:  #677482;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
    
.ourSelection {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
    background-color: #0e88f3;
}
h1 {
    width: 100%;
    margin: 15px auto 0 auto;
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1px;
}
p {
    margin: 25px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    color:  #d2e7fb;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
a {
    display: block;
    position: relative;
    width: 230px;
    height: 60px;
    margin: 30px auto;
    border: none;
    border-radius: 7px;
    background-color: #9addfc;
    font-family: 'Open Sans', sans-serif;
    color:  #335477;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
span {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0%;      
}


/*    FOOTER    */
footer {
    width: 100%;
    float: left;
}
.shakerfactory {
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color:  #3874ca;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-family: 'Open Sans', sans-serif;
    color:  #323232;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.contact {
     width: 100%;
     float: left;
     margin: 20px 0 0 0;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color:  #3874ca;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
p {
    font-family: 'Open Sans', sans-serif;
    color:  #323232;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.social {
     width: 100%;
     float: left;
     margin: 20px 0 0 0;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color:  #3874ca;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
ul {
    text-align: center;
}
li {
    display: inline-block;
    margin: 25px 5px 0 8px;
}
img {
    width: 100%;
}
li:nth-child(1){width: 20px;}
li:nth-child(2){width: 32px;}
li:nth-child(3){width: 42px;}
li:nth-child(4){width: 38px;}
li:nth-child(5){width: 36px;}

.privacyPolicy {
    float: left;
    margin: 30px 0;
}
.like {
    width: 60px;
    height: 18px;
    box-sizing: border-box;
    border: 1px solid #c8d3e9;
    border-radius: 3px;
    background: url(img/like.png) no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    color: white;
    cursor: pointer;
}
.share {
    width: 27px;
    height: 18px;
    margin-right: 5px;
    box-sizing: border-box;
    border: 1px solid #c8d3e9;
    border-radius: 3px;
    background-color: #4266b2;
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    color: white;
    cursor: pointer;
}
span {
    color:  #323232;
    font-size: 12px;
    font-weight: 200;
    text-align: left;
}