@media screen and (max-width: 630px){
    header {
        width: 100%;
        float: left;
        border-bottom: 1px solid grey;
    }
    #nav {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
    }
    #nav-logo {
        float: left;
        width: 90%;
        margin: 0 10%;
        font-size: 40px;
    }
    #nav-bar-list{ 
        float: left;
        width: 90%;
        margin: 0 10%;;
    }
    #nav-bar-list-item {
        display: list-item;
        margin: 15px 10px 15px 10px; 
        font-size: 20px;
    }

    main {
        width: 100%;;
        float: left;
    }
    .contacts_bock {
        width: 80%;
        float: left;
        margin: 20px 10%;
    }
    iframe {
        width: 100%;
        margin: 30px 0;
    }
    #my-cart {
        width: 80%;
        float: left;
        margin: 20px 10%;
    }
    #cart_item {
        margin: 10px 0;
    }
    #cart_item>button {
        margin: 0 10px;
    }
    #cart_item>img {
        float: left;
        margin: 0 10px 0 0;
    }
    .delete{
        float: left;
        width: 30px;
        height: 30px;
    }
    .minus{
        width: 30px;
        height: 30px;
    }
    .plus{
        width: 30px;
        height: 30px;
    }
    .to_cart {
        display: block;
        width: 80%;
        float: left;
        margin: 20px 10%;
        text-transform: uppercase;
        text-decoration: underline;
        color: dimgrey;
    }
    #goods {
        width: 80%;
        float: left;
        margin: 20px 10%;
    }
    .goods_item {
        float: left;
        width: 80%;
        margin: 30px 10%;
        box-sizing: border-box;
        border: 1px solid black;
    }
    .item_img {
        float: left;
        width: 70%;
        margin: 10px 15% 10px 15%;
    }
    .item_name {
        width: 80%;
        float: left;
        margin: 20px 0 10px 5%;
    }
    .item_descr {
        width: 80%;
        float: left;
        margin: 20px 0 10px 5%;
    }
    .item_cost {
        width: 480%;
        float: left;
        margin: 20px 0 10px 5%;
    }
    .item_button {
        margin: 20px 0 10px 5%;
    }
    footer {
        width: 100%;
        height: 70px;
        float: left;
        border-top: 1px solid grey;
        font-size: 25px;
    }
    #privicyPolicy {
        margin: 10px 0;
        text-align: center;
    }
}