@media screen and (max-width: 767px) {
    header {
        width: 1500px;
        max-width: 100%;
        margin: 0 auto;
    }
    .top_panel {
        float: left;
        width: 100%;
        background-color: #3d9ad1;
        font-family: 'Baloo Chettan', cursive;
    }
    .logo {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 80px;
        color: #ffda73;
    }
    .signin {
        float: left;
        margin: 20px 50px 20px 20px;
        border: 1px solid #ffda73;
        border-radius: 5px;
        padding: 5px 10px;
        box-sizing: border-box;
        color: #ffda73;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
    }
    .login {
        clear: both;
        float: left;
        margin: 20px 50px 20px 20px;
        border: 1px solid #ffda73;
        border-radius: 5px;
        padding: 5px 10px;
        box-sizing: border-box;
        color: #ffda73;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
    }
    .nav {
        float: left;
        width: 100%;
    }
    .menu {
        width: 100%;
        height: 500px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-family: 'Roboto', sans-serif;
        color: #3d9ad1;
    }
    .menu__item {
        width: 100%;
        height: 20%;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #3d9ad1;
        cursor: pointer;
    }
    .menu__item:last-child {
        border: none;
    }
    .active {
        height: 40%;
    }
    .menu__content {
        float: left;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .menu__content>p {
        display: none;
    }
    .active>.menu__content {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .active>.menu__content>p {
        font-size: 15px;
        display: block;
    }
    main{
        width: 1500px;
        max-width: 100%;
        margin: 0 auto;
    }
    .whyWe {
        float: left;
        width: 100%;
        background-color: #3d9ad1;
        font-family: 'Roboto', sans-serif;
        color: #ffda73;
    }
    .whyWe>h2{
        font-size: 40px;
        margin: 80px 20px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .whyWe>ul {
        width: 80%;
        margin: 40px 10% 60px 10%;
        list-style: disc;
        list-style-position: inside;
    }
    .whyWe>ul>li {
        margin: 20px 0;
        font-size: 20px;
    }
    .clients {
        float: left;
        width: 100%;
        background-color: #fff;
        color: #3d9ad1;
    }
    .clients>h2 {
        margin: 20px 0;
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase; 
    }
    .clients__list {
        width: 100%;
        max-width: 768px;
        margin: 40px auto 60px auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .clients__item {
        width: 45%;
        margin: 2.5%;
    }
    .clients__item>img {
        width: 100%;
    }
    .feedback {
        float: left;
        width: 100%;
        margin: 50px 0;
        background-color: #3d9ad1;
        font-family: 'Roboto', sans-serif;
        color: #ffda73;
    }
    .feedback>h2 {
        margin: 30px 0;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase; 
    }
    .feedback>form {
        width: 90%;
        margin: 20px 5%;
    }
    .feedback>form>input {
        width: 80%;
        height: 30px;
        margin: 10px 10%;
        border: none;
        border-radius: 2px;
        padding: 0 5px;
    }
    .feedback>form>textarea {
        width: 80%;
        height: 80px;
        margin: 10px 10%;
        border: none;
        border-radius: 2px;
        padding: 5px;
        word-break: break-word;
    }
    .feedback>form>input:last-child {
        width: 40%;
        margin: 20px 30%;
        border: none;
        border-radius: 2px;
        background-color: #ffda73;
        color: #3d9ad1;
        font-size: 20px;
        font-weight: bold;
    }
    footer {
        width: 1500px;
        max-width: 100%;
        margin: 0 auto;
        font-family: 'Roboto', sans-serif;
        color: #3d9ad1;
    }
    .social{
        width: 100%;
        float: left;
    }
    .social>h2 {
        float: left;
        width: 60%;
        margin: 20px 20%;
        text-align: center;
    }
    .social>ul {
        float: left;
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .social>ul>li {
        width: 50px;
        margin: 5px;
    }
    .social>ul>li>a>img {
        width: 100%;
    }
    .privecy {
        float: left;
        width: 100%;
        margin: 30px 0;
        font-size: 20px;
        text-align: center;
    }
}