@media screen and (max-width: 640px) {
    header {
        width: 100%;
        float: left;
    }
    .nav {
        width: 100%;
        height: 89px;
    }
    .nav_logo{
        float: left;
        margin: 22px 0 0 30px;
    }
    .nav_burger{
        float: right;
        margin: 27px 26px 0 0;
        padding: 6px 10px 9px 10px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #5094f2;
    }
    .nav_burger>span {
        display: block;
        width: 37px;
        height: 6px;
        margin: 3px 0 0 0;
        border-radius: 1px;
        background-color: #ffffff;
    }
    .nav_menu {
        display: none;
        clear: both;
        float: left;
        margin: 10px 0 0 30px;
    }
    .nav_list {
        float: left;
    }
    .nav_item {
        height: 40px;
        width: ;
        margin: 5px 0 0 0;
        padding: 0 10px;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
        color:  #6c6c6c;
        font-size: 20.35px;
        font-weight: 400;
        text-align: left;
    }
    .active {
        border-bottom: 3px solid #5094f2;
        box-sizing: border-box;
    }
    main {
        width: 100%;
        float: left;
    }
    .slider-container {
        width: 100%;
        min-height: 246px;
        background: url(../img/slider-bg.png) no-repeat;
        background-size: cover;
        background-position: 50% 100%;
    }
    .slider_item {
        width: 100%;
        height: 100%;
    } 
    .slider_item>img {
        float: left;
        max-width: 177px;
        margin: 23px 30px 0 37px;        
    }
    .slider_content {
        margin: 27px 0 0 0;
        float: left;
    }
    .slider_title {
        margin: 0 0 0 36px;
        font-family: 'PT Sans', sans-serif;
        color: #ffffff;
        font-size: 30.98px;
        font-weight: 300;
        line-height: 40px;
        text-align: left;
    }
    .slider_text {
        margin: 0 0 0 36px;
        color: #ffffff;
        font-family: 'PT Sans', sans-serif;
        font-size: 22.71px;
        font-weight: 300;
        line-height: 40px;
        text-align: left;
    }
    .slider_button {
        margin: 20px 0 10px 36px;
        background-color: #5094f2;
        font-family: 'PT Sans', sans-serif;
        color: #ffffff;
        font-size: 31.08px;
        font-weight: 300;
        line-height: 53px;
        text-align: left;
    }
    .slider_button>img {
        float: left;
        margin: 10px 15px 0 14px;
    }
    .peaks {display: none}
    .list_block-container {
        float: left;
        width: 100%;
    }
    .list_block {
        width: 100%;
        float: left;
    }
    .list_item {
        float: left;
        width: 100%;
        min-height: 193px;
        border-bottom: 1px solid #cccccc;
        box-sizing: border-box;
    }
    .list_item>img {
        width: 137px;
        float: left;
        margin: 39px 0 0 44px;
    }
    .list_content {
        float: left;
        margin: 66px 0 0 0;
    }
    .list_title {
        max-width: 90%;
        margin: 0 0 0 23px;
        font-family: 'PT Sans', sans-serif;
        color:  #5094f2;
        font-size: 34.13px;
        font-weight: 400;
        line-height: 44.42px;
        text-align: left;
    }
    .list_text {
        max-width: 90%;
        width: 354px;
        padding: 0 0 0 27px;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
        color:  #909090;
        font-size: 19.34px;
        font-weight: 400;
        text-align: left;
    }
    .article-container {
        float: left;
        width: 100%;
    }
    .article_header {
        width: 100%;
        margin: 48px 0 0 0;
        font-family: 'PT Sans', sans-serif;
        color:  #6f7173;
        font-size: 42.35px;
        font-weight: 400;
        line-height: 44.42px;
        text-align: left;
        text-align: center;
    }
    .article_img {
        width: 215px;
        display: block;
        margin: 36px auto 0 auto;
    }
    .article_content {
        margin: 20px 0 0 0;
    }
    .article_title {
        max-width: 100%;
        width: 512px;
        margin: 0 auto;
        font-family: 'PT Sans', sans-serif;
        color:  #6f7173;
        font-size: 34.35px;
        font-weight: 400;
        line-height: 44.42px;
        text-align: left;
    }
    .article_text {
        max-width: 100%;
        width: 512px;
        margin: 34px auto 0 auto;
        font-family: 'PT Sans', sans-serif;
        color:  #909090;
        font-size: 17.35px;
        font-weight: 300;
        line-height: 36px;
        text-align: left;
    }
    footer {
        width: 100%;
        height: 84px;
        float: left;
        box-sizing: border-box;
        border-top: 1px solid #cccccc;
    }
    .privecy {
        width: 100%;
        margin: 33px 0 0 0;
        font-family: 'PT Sans', sans-serif;
        color:  #909090;
        font-size: 15.35px;
        font-weight: 300;
        text-align: center;
    }
}
@media screen and (max-width: 350px) {
    header {
        width: 100%;
        float: left;
    }
    .nav {
        width: 100%;
        height: 89px;
    }
    .nav_logo{
        float: left;
        margin: 22px 0 0 5px;
    }
    .nav_burger{
        float: right;
        margin: 27px 5px 0 0;
        padding: 6px 10px 9px 10px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #5094f2;
    }
    .nav_burger>span {
        display: block;
        width: 37px;
        height: 6px;
        margin: 3px 0 0 0;
        border-radius: 1px;
        background-color: #ffffff;
    }
    .nav_menu {
        display: none;
        float: left;
        margin: 10px 0 0 30px;
    }
    .nav_list {
        float: left;
    }
    .nav_item {
        height: 25px;
        width: 80px;
        margin: 10px 0 0 0;
        padding: 0 10px;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
    }
    .active {
        border-bottom: 3px solid #5094f2;
        box-sizing: border-box;
    }
    main {
        width: 100%;
        float: left;
    }
    .slider-container {
        width: 100%;
        min-height: 246px;
        background: url(../img/slider-bg.png) no-repeat;
        background-size: cover;
        background-position: 50% 100%;
    }
    .slider_item {
        width: 100%;
        height: 100%;
    } 
    .slider_item>img {
        float: left;
        margin: 23px 30px 0 37px;        
    }
    .slider_content {
        margin: 27px 0 0 0;
        float: left;
    }
    .slider_title {
        margin: 0 0 0 36px;
        font-family: 'PT Sans', sans-serif;
        color: #ffffff;
        font-size: 30.98px;
        font-weight: 300;
        line-height: 40px;
        text-align: left;
    }
    .slider_text {
        margin: 0 0 0 36px;
        color: #ffffff;
        font-family: 'PT Sans', sans-serif;
        font-size: 22.71px;
        font-weight: 300;
        line-height: 40px;
        text-align: left;
    }
    .slider_button {
        width: 80%;
        margin: 20px auto 10px auto;
        background-color: #5094f2;
        font-family: 'PT Sans', sans-serif;
        color: #ffffff;
        font-size: 31.08px;
        font-weight: 300;
        line-height: 53px;
        text-align: left;
    }
    .slider_button>img {
        float: left;
        margin: 10px 15px 0 14px;
    }
    .peaks {display: none}
    .list_block-container {
        float: left;
        width: 100%;
    }
    .list_block {
        width: 100%;
        float: left;
    }
    .list_item {
        float: left;
        width: 100%;
        min-height: 193px;
        border-bottom: 1px solid #cccccc;
        box-sizing: border-box;
    }
    .list_item>img {
        width: 137px;
        float: left;
        margin: 39px 0 0 44px;
    }
    .list_content {
        width: 100%;
        float: left;
        margin: 66px 0 0 0;
    }
    .list_title {
        width: 100%;
        margin: 0 0 0 0;
        font-family: 'PT Sans', sans-serif;
        color:  #5094f2;
        font-size: 34.13px;
        font-weight: 400;
        line-height: 44.42px;
        text-align: left;
    }
    .list_text {
        width: 100%;
        margin: 0 0 0 0;
        box-sizing: border-box;
        font-family: 'PT Sans', sans-serif;
        color:  #909090;
        font-size: 19.34px;
        font-weight: 400;
        text-align: left;
    }
    .article-container {
        float: left;
        width: 100%;
    }
    .article_header {
        width: 100%;
        margin: 48px 0 0 0;
        font-family: 'PT Sans', sans-serif;
        color:  #6f7173;
        font-size: 42.35px;
        font-weight: 400;
        line-height: 44.42px;
        text-align: left;
        text-align: center;
    }
    .article_img {
        width: 215px;
        display: block;
        margin: 36px auto 0 auto;
    }
    .article_content {
        margin: 20px 0 0 0;
    }
    .article_title {
        max-width: 100%;
        width: 512px;
        margin: 0 auto;
        font-family: 'PT Sans', sans-serif;
        color:  #6f7173;
        font-size: 34.35px;
        font-weight: 400;
        line-height: 44.42px;
        text-align: left;
    }
    .article_text {
        max-width: 100%;
        width: 512px;
        margin: 34px auto 0 auto;
        font-family: 'PT Sans', sans-serif;
        color:  #909090;
        font-size: 17.35px;
        font-weight: 300;
        line-height: 36px;
        text-align: left;
    }
    footer {
        width: 100%;
        height: 84px;
        float: left;
        box-sizing: border-box;
        border-top: 1px solid #cccccc;
    }
    .privecy {
        width: 100%;
        margin: 33px 0 0 0;
        font-family: 'PT Sans', sans-serif;
        color:  #909090;
        font-size: 15.35px;
        font-weight: 300;
        text-align: center;
    }
}

